{% extends "layout.html" %}

{% block title %}
    Chef's Bout
{% endblock %}

{% block main %}
	<h1 class="uname"> Welcome Aboard,
			{% if session.user_id %}
			 {{ session.uname }}
			{% else %}
			 Guest
			{% endif %}
	!</h1><br>
	<p class="text-lg-center intro">Practise problem in a new way and utilize time more effectively <br> We help you to choose problems based on tags and set time
	limit to solve them. To Continue </p>
	{% if session.user_id %}
		<input type="button" class="btn btn-outline-dark btn-lg" onclick="location.href = '/';" role="start" value='Start Practising'>
	{% else %}
		<input type="button" class="btn btn-outline-dark btn-lg" onclick="location.href = '/login';" role="login" value='Login with Codehcef'>
	{% endif %}
{% endblock %}